In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\nirma\Downloads\wines_SPA (2).csv")

In [7]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [9]:
df.shape

(7500, 11)

In [11]:
df.info

<bound method DataFrame.info of                     winery             wine  year  rating  num_reviews  \
0            Teso La Monja            Tinto  2013     4.9           58
1                   Artadi    Vina El Pison  2018     4.9           31
2             Vega Sicilia            Unico  2009     4.8         1793
3             Vega Sicilia            Unico  1999     4.8         1705
4             Vega Sicilia            Unico  1996     4.8         1309
...                    ...              ...   ...     ...          ...
7495               Contino          Reserva  2016     4.2          392
7496  Conreria d'Scala Dei    Les Brugueres  2018     4.2          390
7497           Mustiguillo  Finca Terrerazo  2017     4.2          390
7498           Matarromera     Gran Reserva  2011     4.2          389
7499              Sei Solo         Preludio  2016     4.2          388

     country            region   price                  type  body  acidity
0     Espana              Toro  995.00              Toro Red   5.0      3.0
1     Espana    Vino de Espana  313.50           Tempranillo   4.0      2.0
2     Espana  Ribera del Duero  324.95  Ribera Del Duero Red   5.0      3.0
3     Espana  Ribera del Duero  692.96  Ribera Del Duero Red   5.0      3.0
4     Espana  Ribera del Duero  778.06  Ribera Del Duero Red   5.0      3.0
...      ...               ...     ...                   ...   ...      ...
7495  Espana             Rioja   19.98             Rioja Red   4.0      3.0
7496  Espana          Priorato   16.76           Priorat Red   4.0      3.0
7497  Espana      El Terrerazo   24.45                   Red   4.0      3.0
7498  Espana  Ribera del Duero   64.50  Ribera Del Duero Red   5.0      3.0
7499  Espana  Ribera del Duero   31.63  Ribera Del Duero Red   5.0      3.0

[7500 rows x 11 columns]>

In [13]:
df.describe()

            rating   num_reviews        price         body      acidity
count  7500.000000   7500.000000  7500.000000  6331.000000  6331.000000
mean      4.254933    451.109067    60.095822     4.158427     2.946612
std       0.118029    723.001856   150.356676     0.583352     0.248202
min       4.200000     25.000000     4.990000     2.000000     1.000000
25%       4.200000    389.000000    18.900000     4.000000     3.000000
50%       4.200000    404.000000    28.530000     4.000000     3.000000
75%       4.200000    415.000000    51.350000     5.000000     3.000000
max       4.900000  32624.000000  3119.080000     5.000000     3.000000

In [15]:
df.isnull().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [17]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [23]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.25,randam_state=42)

TypeError: got an unexpected keyword argument 'randam_state'